.app__github-cards {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center !important;
  gap: 3rem;

  .flex-item {
    border-radius: 1rem;
    max-width: 100%;
    height: auto;
  }

  .flex-item:nth-child(3) {
    height: 10rem;
    padding: 0rem 1rem;
  }

  .flex-item:nth-child(2),
  .flex-item:nth-child(4) {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 850px) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: auto;
  }

  .react-activity-calendar {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
