.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;
  }

  .copyright {
    display: none;
  }
}

.app__header {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6rem 2rem 0;

  @media screen and (min-width: 2000px) {
    padding-top: 8rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 6rem 1rem 2rem;
  }
}

.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  .badge-cmp {
    .p-text {
      font-size: 1.5rem;
    }
    .head-text-name {
      margin-top: 0.5rem;
    }
  }

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 2rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }
  div:nth-child(2),
  div:nth-child(4),
  div:nth-child(6) {
    margin: 1.5rem;
    width: 150px;
    height: 150px;
  }

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  @media screen and (min-width: 2000px) {
    margin-left: 2rem;
    div:nth-child(2),
    div:nth-child(4),
    div:nth-child(6) {
      margin: 1.5rem;
      width: 170px;
      height: 170px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-top: 4rem;
    div {
      margin: 1rem;
    }
  }
}

.app__header-img {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  top: 3rem;
  bottom: 7rem;

  img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
  }

  .profilePic {
    width: 90%;
    position: relative;
    bottom: 17.5rem;
    right: 0.7rem;
  }

  .overlay_circle {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0.1rem;
    left: 0.5rem;
    right: 0;
    bottom: 0rem;
    z-index: 0;
  }

  @media screen and (min-width: 2000px) {
    .profilePic {
      bottom: 12rem !important;
      right: 0.4rem;
      // width: 90%;
    }
  }

  @media screen and (min-width: 1570px) {
    .profilePic {
      bottom: 16.5rem;
    }
  }

  @media screen and (min-width: 1630px) {
    .profilePic {
      bottom: 16rem;
    }
  }

  @media screen and (min-width: 1660px) {
    .profilePic {
      bottom: 14rem;
    }
  }

  @media screen and (min-width: 1740px) {
    .profilePic {
      bottom: 13rem;
    }
  }

  @media screen and (min-width: 1840px) {
    .profilePic {
      bottom: 11rem;
    }
  }

  @media screen and (min-width: 1920px) {
    .profilePic {
      bottom: 9rem;
    }
  }

  @media screen and (max-width: 1500px) {
    .profilePic {
      bottom: 18rem;
      right: 0.4rem;
    }
  }

  @media screen and (max-width: 1430px) {
    .profilePic {
      bottom: 19.5rem;
    }
  }

  @media screen and (max-width: 1390px) {
    .profilePic {
      bottom: 20.5rem;
    }
  }

  @media screen and (max-width: 1340px) {
    .profilePic {
      bottom: 22rem;
    }
  }

  @media screen and (max-width: 1290px) {
    .profilePic {
      bottom: 23rem;
    }
  }

  @media screen and (max-width: 1250px) {
    .profilePic {
      width: 85%;
      bottom: 25rem;
      right: 1rem;
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 0rem;
    .overlay_circle {
      top: 0;
    }
    .profilePic {
      width: 90%;
      bottom: 0;
    }
    top: -6rem;
  }

  @media screen and (max-width: 1090px) {
    margin-top: 2rem;
  }

  @media screen and (max-width: 850px) {
    margin-top: 4rem;
  }

  @media screen and (max-width: 720px) {
    margin-top: 7rem;
  }

  @media screen and (max-width: 550px) {
    .profilePic {
      left: 0;
    }
  }
}

.app__header-button {
  min-width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  font: inherit;
  position: relative;
  isolation: isolate;
  overflow: hidden;

  margin: 1rem 0;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 100vw;
  cursor: pointer;
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease-in-out;

  a {
    color: white;
    font-size: 1.5rem;
  }

  img {
    width: 55px;
    height: 55px;
    margin-right: 0.2rem;
  }

  p {
    font-weight: 600;
  }

  a {
    text-decoration: none;
    font-weight: 500;
  }

  box-shadow: 0px 7px 7px;

  &:active {
    box-shadow: none;
    transform: translateY(7px);
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: orange;
    width: 10%;
    aspect-ratio: 1;
    border-radius: 50%;
    inset: 0;
    margin: auto;
    opacity: 0;
    transition: transform 0.7s 0.2s, opacity 0.2s;
  }

  &:active::before {
    transform: scale(20);
    transition: transform 0.7s, opacity 0.5s;
    opacity: 1;
  }
}

.app__header-button > span {
  position: absolute;
  background-color: transparent;
  width: 33.333%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.app__header-button:has(:first-child:active)::before {
  margin-left: 0;
}

.app__header-button:has(:last-child:active)::before {
  margin-right: 0;
}

.app__header-button:has(:first-child:active)::before,
.app__header-button:has(:last-child:active)::before {
  transition: transform 0.5s, opacity 0.25s;
}

.app__header-button > :first-child {
  left: 0;
  top: 0;
}

.app__header-button > :last-child {
  right: 0;
  top: 0;
}
